PORT=3000

# Example: http://localhost:8989 or http://192.168.1.50:8989
SONARR_URL=http://localhost:8989

# Sonarr > Settings > General > Security > API Key
SONARR_API_KEY=put_your_sonarr_api_key_here
